.other-solutions {
	@include container;

	.swiper-header {
		&__title {
			@include mq(xl, min) {
				flex-basis: 20%;
			}
		}

		&__controls {
			@include mq(lg) {
				display: none;
			}
		}
	}

	&__items {
		@include mq(lg) {
			margin-bottom: 20px;
		}
	}

	&__button {
		background-color: var(--color-grey-100);
	}
}
