.product-projects {
	@include container;

	.swiper-header {
		&__controls {
			@include mq(lg) {
				display: none;
			}
		}
	}

	&__button {
		background-color: var(--color-grey-100);
	}

	&__items {
		@include mq(lg) {
			margin-bottom: 20px;
		}
	}
}
