.unique-quality {
	@include container;

	&__image {
		position: relative;
		padding-bottom: 45%;
		width: 100%;

		@include mq(sm) {
			padding-bottom: 62%;
		}
	}

	&__bg {
		@include bg-properties;

		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
	}
}
