<header class="header @class">
    <div class="overlay" data-menu-overlay aria-hidden></div>
    <nav class="header__navigation">
        <div class="header__wrapper-logo">
            <a class="header__logo logo" href="#">
                <img class="logo__img" src="img/logo.svg" alt="Логотип" width="155" height="28">
            </a>
        </div>

        <div class="header__inner">
            <div class="header__item">
                <button class="header__button header__button--menu button" aria-expanded="false" aria-controls="menu-categories" type="button">
                    Кухни и мебель
                    <svg class="button__icon" aria-hidden>
                        <use xlink:href="img/sprite.svg#plus">
                    </svg>
                </button>

                <a class="header__button header__button--link button" href="#">
                    Акции
                    <svg class="button__icon" aria-hidden>
                        <use xlink:href="img/sprite.svg#arrows-double">
                    </svg>
                </a>
            </div>

            <div class="header-consultation">
                <button class="header-consultation__button button button--dark" type="button" aria-controls="modal-consultation" data-graph-path="consultation">
                    <span class="button__point" aria-hidden></span>
                    Консультация дизайнера
                </button>

                <a class="header-consultation__contact" href="tel:+74951011919">
                    +7 (495)-101-19-19
                </a>
            </div>

            <button class="header__burger-button burger-button" aria-expanded="false" aria-controls="header-burger-menu" data-burger-button>
                <span class="burger-button__text" aria-live="polite" data-burger-button-text>Меню</span>
                <span class="burger-button__text">Меню</span>
                <span class="burger-button__plate" aria-hidden>
                    <span class="burger-button__line"></span>
                </span>
            </button>
        </div>

        @include('./_burger-menu.html')
        @include('./_menu-categories.html')
    </nav>
</header>