.burger-menu {
	@include flex-alignment(0, start, start, column);

	position: fixed;
	right: 0;
	top: 0;
	overflow: hidden;
	padding: 154px 50px 64px 109px;
	width: 100%;
	max-width: 785px;
	background-color: var(--color-white);
	visibility: hidden;
	transform: translateX(100%);
	transition: transform 0.5s;

	@include mq(lg) {
		padding: 120px 20px 40px;
		max-width: 100%;
	}

	&--active {
		z-index: -1;
		overflow-y: auto;
		height: 100vh;
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		transition: transform 0.3s ease-in-out;
	}

	&__title {
		margin-bottom: 30px;

		@include title(28px, -0.04em);

		@include mq(lg) {
			display: none;
		}
	}

	&__search {
		margin-bottom: 52px;

		@include mq(lg) {
			margin-bottom: 10px;
		}
	}

	&__mobile {
		margin-bottom: 60px;

		@include mq(lg, min) {
			display: none;
		}
	}

	.nav-menu {
		margin-right: -40px;
		margin-bottom: 10vh;

		&__title {
			@include title(18px, -0.03em);

			margin-bottom: 15px;

			@include mq(md) {
				font-size: 28px;
			}

			@include mq(sm) {
				font-size: 16px;
			}
		}
	}

	&__contacts {
		display: flex;
		margin-bottom: 20vh;
		width: 100%;

		@include mq(md) {
			margin-bottom: 30px;
		}
	}

	.navigation-connection {
		padding-right: 40px;
		width: 50%;
		gap: 30px;

		&__contacts {
			gap: 15px;

			@include mq(md) {
				flex: 1 1 auto;
				flex-direction: row-reverse;
				align-self: flex-start;
				justify-content: flex-end;
				gap: 5px;
			}
		}

		&__link {
			@include link-border-bottom;

			@include mq(md) {
				@include flex-alignment(5px);

				border-bottom: 0;
				border-radius: 12px;
				padding: 15px;
				text-align: center;
				background-color: var(--color-grey-100);
			}

			@include mq(sm) {
				border-radius: 8px;
				padding: 12px;
				font-size: 10px;
			}
		}

		@include mq(md) {
			flex-direction: row;
			padding-right: 0;
			width: 100%;
			gap: 5px;
		}
	}

	&__socials {
		@include mq(md) {
			display: none;
		}

		&--mobile {
			@include mq(lg, min) {
				display: none;
			}

			.socials__item {
				@include mq(md) {
					width: 50px;
					height: 50px;
				}

				@include mq(sm) {
					width: 38px;
					height: 38px;
				}
			}

			.socials__link {
				border-radius: 12px;
				background-color: var(--color-grey-100);

				@include mq(md) {
					color: var(--color-dark-600);
				}

				@include mq(sm) {
					border-radius: 8px;
				}
			}

			@include mq(md) {
				display: flex;
			}
		}
	}

	&__buttons {
		display: none;

		@include mq(lg) {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 40px;
			width: 100%;
			gap: 10px;
		}

		@include mq(sm) {
			margin-bottom: 20px;
			gap: 5px;
		}
	}

	&__button {
		@include mq(lg) {
			flex: 1 0 49%;
			white-space: nowrap;
		}

		&--desktop {
			align-self: flex-start;

			@include mq(lg) {
				display: none;
			}
		}
	}

	&__bottom {
		@include flex-simple(8px, column);

		margin-top: auto;
		color: var(--color-grey-500);

		@include mq(md) {
			border-top: 1px solid var(--color-grey-200);
			padding-top: 10px;
			width: 100%;
			font-size: 12px;
		}

		@include mq(sm) {
			font-size: 10px;
		}
	}

	&__privacy {
		color: var(--color-dark-600);
		transition: color 0.3s;

		@include mq(md) {
			display: none;
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--color-orange-400);
			}
		}
	}
}
