.burger-menu {
	.navigation-connection {
		padding-right: 40px;
		width: 50%;
		gap: 30px;

		&__contacts {
			gap: 15px;

			@include mq(md) {
				flex: 1 1 auto;
				flex-direction: row-reverse;
				align-self: flex-start;
				justify-content: flex-end;
				gap: 5px;
			}
		}

		&__link {
			@include link-border-bottom;

			@include mq(md) {
				@include flex-alignment(5px);

				border-bottom: 0;
				border-radius: 12px;
				padding: 15px;
				text-align: center;
				background-color: var(--color-grey-100);
			}

			@include mq(sm) {
				border-radius: 8px;
				padding: 12px;
				font-size: 10px;
			}
		}

		@include mq(md) {
			flex-direction: row;
			padding-right: 0;
			width: 100%;
			gap: 5px;
		}
	}
}
