.burger-button {
	--burger-line-height: 1px;
	--burger-line-width: 16px;
	--burger-line-border-radius: 2px;

	@include flex(flex-end);

	position: relative;
	z-index: 10;
	outline: 0;
	min-width: 110px;
	font-size: 12px;
	gap: 10px;

	@include mq(sm) {
		min-width: 100px;
	}

	&__plate {
		@include flex;

		border: 1px solid transparent;
		border-radius: 1000px;
		width: 52px;
		height: 39px;
		color: var(--color-white);
		background-color: var(--color-dark-600);
		transition:
			border-color 0.3s,
			background-color 0.3s,
			left 0.3s;

		@include mq(sm) {
			width: 42px;
			height: 32px;
		}
	}

	&__line {
		position: relative;
		display: block;
		width: var(--burger-line-width);
		height: var(--burger-line-height);

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			border-radius: var(--burger-line-border-radius);
			width: 100%;
			height: 100%;
			background-color: currentcolor;
			transition:
				transform 0.3s ease-in-out,
				top 0.3s ease-in-out,
				background-color 0.3s ease-in-out;
		}

		&::before {
			top: -4px;
		}

		&::after {
			bottom: -4px;
		}
	}

	&:focus {
		.burger-button {
			&__plate {
				border-color: var(--color-orange-400);
				color: var(--color-dark-600);
				background-color: transparent;
			}
		}
	}

	@media (any-hover: hover) {
		&:hover {
			.burger-button {
				&__plate {
					color: var(--color-white);
					background-color: var(--color-orange-400);
				}
			}
		}
	}

	&--active {
		.burger-button {
			&__plate {
				border-color: var(--color-grey-200);
				color: var(--color-dark-600);
				background-color: transparent;
			}

			&__line {
				&::before,
				&::after {
					top: 50%;
					transition:
						transform 0.3s ease-in-out,
						top 0.3s ease-in-out;
				}

				&::before {
					transform: rotate(45deg);
				}

				&::after {
					bottom: unset;
					transform: rotate(-45deg);
				}
			}
		}

		@media (any-hover: hover) {
			&:hover {
				.burger-button {
					&__plate {
						color: var(--color-dark-600);
						background-color: var(--color-grey-100);
					}
				}
			}
		}
	}
}
