.burger-menu {
	@include flex-alignment(0, start, start, column);

	position: fixed;
	right: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	max-width: 785px;
	background-color: var(--color-white);
	visibility: hidden;
	transform: translateX(100%);
	transition: transform 0.5s;

	@include mq(lg) {
		padding: 120px 20px 40px;
		max-width: 100%;
	}

	@include mq(sm) {
		padding-top: 102px;
	}

	&--active {
		z-index: 20;
		overflow-y: auto;
		height: 100vh;
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		transition: transform 0.3s ease-in-out;

		@include mq(lg) {
			z-index: -1;
		}
	}

	&__header {
		@include flex-alignment(32px, space-between, center);

		border-bottom: 1px solid var(--color-grey-200);
		padding: 30px 50px 25px 110px;
		width: 100%;

		@include mq(lg) {
			display: none;
		}
	}

	&__body {
		padding: 60px 50px 64px 110px;
		width: 100%;

		@include mq(lg) {
			padding: 0;
		}
	}

	&__title {
		margin-bottom: 30px;

		@include title(28px, -0.04em);

		@include mq(lg) {
			display: none;
		}
	}

	&__search {
		margin-bottom: 52px;

		@include mq(lg) {
			margin-bottom: 10px;
		}
	}

	&__mobile {
		margin-bottom: 60px;

		@include mq(lg, min) {
			display: none;
		}
	}

	.nav-menu {
		margin-right: -40px;
		margin-bottom: 10vh;

		&__title {
			@include title(18px, -0.03em);

			margin-bottom: 15px;

			@include mq(md) {
				font-size: 28px;
			}

			@include mq(sm) {
				font-size: 16px;
			}
		}
	}

	&__contacts {
		display: flex;
		margin-bottom: 10vh;
		width: 100%;

		@include mq(md) {
			margin-bottom: 30px;
		}
	}

	&__buttons {
		display: none;

		@include mq(lg) {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 40px;
			width: 100%;
			gap: 10px;
		}

		@include mq(sm) {
			margin-bottom: 20px;
			gap: 5px;
		}
	}

	&__button {
		@include mq(lg) {
			flex: 1 0 49%;
			white-space: nowrap;
		}

		&--desktop {
			align-self: flex-start;

			@include mq(lg) {
				display: none;
			}
		}
	}

	&__bottom {
		@include flex-simple(8px, column);

		margin-top: auto;
		color: var(--color-grey-500);

		@include mq(md) {
			border-top: 1px solid var(--color-grey-200);
			padding-top: 10px;
			width: 100%;
			font-size: 12px;
		}

		@include mq(sm) {
			font-size: 10px;
		}
	}

	&__privacy {
		align-self: flex-start;
		border-radius: 4px;
		color: var(--color-dark-600);
		transition:
			color 0.3s,
			box-shadow 0.3s;

		@media (any-hover: hover) {
			&:hover {
				color: var(--color-orange-400);
			}
		}

		&:focus-visible {
			@include focus-visible;
		}

		@include mq(md) {
			display: none;
		}
	}
}
