<div class="banner-card @class">
    <div class="banner-card__content">
        <a class="banner-card__link" href="#">
            @title
        </a>
        @if(typeof text !== 'undefiend' && text) {
        <p class="banner-card__text">
                @text
            </p>
        }
    </div>
    <picture class="banner-card__picture">
        <source srcset="img/banners/@img.avif" type="image/avif">
        <source srcset="img/banners/@img.webp" type="image/webp">
        <img class="banner-card__img" src="img/banners/@img.jpg" alt="@alt" width="400" height="190" loading="lazy">
    </picture>
</div>