<article class="facade-card">
    <a class="facade-card__image" href="img/blocks/facades/@img.jpg" data-fancybox="facades-gallery">
        <picture>
            <source srcset="img/blocks/facades/@img.avif" type="image/avif">
            <source srcset="img/blocks/facades/@img.webp" type="image/webp">
            <img class="facade-card__img" src="img/blocks/facades/@img.jpg" alt="@alt" loading="lazy">
        </picture>
    </a>
    <h3 class="facade-card__title">@title</h3>
    <span class="facade-card__id">@id</span>
</article>