<article class="product-realize">
    <div class="product-realize__image">
        <picture>
            <source srcset="img/blocks/products/kitchens/@img.avif" type="image/avif">
            <source srcset="img/blocks/products/kitchens/@img.webp" type="image/webp">
            <img class="product-realize__img" src="img/blocks/products/kitchens/@img.jpg" alt="@alt" width="585" height="390" loading="lazy">
        </picture>
    </div>
    <div class="product-realize__content">
        <div class="product-realize__info">
            <span class="product-realize__price">@price</span>
            <span class="product-realize__subprice">
                Стоимость проекта
            </span>
        </div>
        <div class="product-realize__actions">
            <button class="product-realize__button button button--decor" type="button">
                Хочу похожий
                <span class="button__decor">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrows-double">
                    </svg>
                </span>
            </button>
        </div>
    </div>
</article>