<article class="review-card">
    <div class="review-card__header">
        <span class="review-card__count">@count</span>
        <div class="review-card__info">
            <img class="review-card__logo" src="img/blocks/reviews-logos/@img.svg" alt="@alt" width="120" height="30" loading="lazy">
            <span class="review-card__rating">@rating</span>
        </div>
    </div>
    <a class="review-card__link button button--decor" href="#" target="_blank">
        <span class="button__text">Читать отзывы</span>
        <span class="button__decor" aria-hidden>
            <svg>
                <use xlink:href="img/sprite.svg#arrows-double">
            </svg>
        </span>
    </a>
</article>