:root {
	--color-white: #fff;
	--color-orange-400: #fa523d;
	--color-orange-600: #dc341f;
	--color-grey-100: #f1f1f1;
	--color-grey-200: #ddd;
	--color-grey-300: #dcdcdc;
	--color-grey-400: #b1b1b1;
	--color-grey-500: #989898;
	--color-grey-600: #6d6d6d;
	--color-dark-600: #1d1d1d;
	--color-black: #000;
	--rgba-white-200: rgba(255, 255, 255, 0.2);
	--rgba-white-500: rgba(255, 255, 255, 0.5);
	--rgba-black-500: rgba(0, 0, 0, 0.5);
	--font-main: 'Inter';
}
