.catalog {
	@include container;

	padding-bottom: 2px;

	.filters {
		margin-bottom: 40px;

		@include mq(sm) {
			margin-bottom: 18px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px 50px;

		// @include flex-simple(40px);

		// flex-wrap: wrap;

		@include mq(lg) {
			column-gap: 20px;
		}

		@include mq(md) {
			grid-template-columns: 1fr;
		}

		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__item {
		// flex: 1 1 400px;

		// @include mq(lg) {
		// 	flex-basis: 300px;
		// }

		// @include mq(md) {
		// 	flex-basis: 400px;
		// }
	}

	&__more {
		@include flex-alignment(8px);

		margin: 0 auto;
		border-radius: 4px;
		font-size: 16px;
		color: var(--color-dark-600);
		transition: box-shadow 0.3s;

		&:focus-visible {
			@include focus-visible;
		}

		@media (any-hover: hover) {
			&:hover {
				span {
					border-bottom-color: var(--color-dark-600);
				}

				svg {
					color: var(--color-orange-400);
				}
			}
		}

		span {
			@include link-border-bottom;
		}

		svg {
			width: 14px;
			height: 14px;
			transition: color 0.3s;
		}

		@include mq(sm) {
			font-size: 12px;
		}
	}
}
