.catalog {
	@include container;

	.filters {
		margin-bottom: 40px;

		@include mq(sm) {
			margin-bottom: 18px;
		}
	}

	&__items {
		@include flex-simple(40px);

		flex-wrap: wrap;

		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__item {
		flex: 1 1 400px;

		@include mq(lg) {
			flex-basis: 300px;
		}

		@include mq(md) {
			flex-basis: 400px;
		}
	}

	&__more {
		@include flex-alignment(8px);

		margin: 0 auto;
		font-size: 16px;
		color: var(--color-dark-600);

		span {
			@include link-border-bottom;
		}

		svg {
			width: 14px;
			height: 14px;
		}

		@include mq(sm) {
			font-size: 12px;
		}
	}
}

.filters {
	display: flex;
	align-items: center;
	gap: 30px;

	@include mq(sm) {
		display: block;
	}

	@include mq(sm, min) {
		overflow-x: auto;
		padding-bottom: 10px;
	}

	&__title {
		white-space: nowrap;
		color: var(--color-grey-500);

		@include mq(sm) {
			display: inline-block;
			margin-bottom: 6px;
			font-size: 12px;
			letter-spacing: -0.03em;
		}
	}

	&__items {
		display: flex;
		gap: 25px;

		@include mq(sm) {
			overflow-x: auto;
			padding-bottom: 8px;
			gap: 9px;
		}
	}

	&__item {
		@include title(16px);
		@include flex-simple(6px);

		position: relative;
		white-space: nowrap;

		@include mq(sm) {
			font-size: 12px;
			gap: 3px;
		}
	}

	&__hidden {
		@include hidden;

		&:checked {
			& + .filters__visible {
				&::before {
					opacity: 1;
				}
			}
		}
	}

	&__visible {
		@include circle(18px, transparent);

		position: relative;
		border: 1px solid var(--color-grey-200);

		@include mq(sm) {
			width: 12px;
			height: 12px;
		}

		&::before {
			@include circle(10px);

			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			opacity: 0;
			transform: translate(-50%, -50%);
			transition: opacity 0.3s;

			@include mq(sm) {
				width: 6px;
				height: 6px;
			}
		}
	}
}
