.filters {
	display: flex;
	align-items: center;
	gap: 30px;

	@include mq(sm) {
		display: block;
	}

	@include mq(sm, min) {
		overflow-x: auto;
		padding-bottom: 10px;
	}

	&__title {
		white-space: nowrap;
		color: var(--color-grey-500);

		@include mq(sm) {
			display: inline-block;
			margin-bottom: 6px;
			font-size: 12px;
			letter-spacing: -0.03em;
		}
	}

	&__items {
		display: flex;
		gap: 25px;

		@include mq(sm) {
			overflow-x: auto;
			padding-bottom: 8px;
			gap: 9px;
		}
	}

	&__item {
		@include title(16px);
		@include flex-simple(6px);

		position: relative;
		white-space: nowrap;

		@include mq(sm) {
			font-size: 12px;
			gap: 3px;
		}
	}

	&__hidden {
		@include hidden;

		&:focus {
			& + .filters__visible {
				border-color: var(--color-orange-400);
			}
		}

		@media (any-hover: hover) {
			&:hover {
				& + .filters__visible {
					border-color: var(--color-dark-600);
				}
			}
		}

		&:checked {
			& + .filters__visible {
				&::before {
					opacity: 1;
				}
			}
		}
	}

	&__visible {
		@include circle(18px, transparent);

		position: relative;
		border: 1px solid var(--color-grey-200);
		transition: border-color 0.3s;

		@include mq(sm) {
			width: 12px;
			height: 12px;
		}

		&::before {
			@include circle(10px);

			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			opacity: 0;
			transform: translate(-50%, -50%);
			transition: opacity 0.3s;

			@include mq(sm) {
				width: 6px;
				height: 6px;
			}
		}
	}
}
