.breadcrumbs {
	@include container;

	padding-bottom: 12px;

	&__items {
		display: flex;
		align-items: center;
		overflow-x: auto;
		gap: 6px;
	}

	&__item {
		&:not(:last-child) {
			position: relative;
			padding-right: 10px;

			&::before {
				@include circle(4px, var(--color-grey-300));

				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&:last-child {
			.breadcrumbs__link {
				color: var(--color-grey-500);
				pointer-events: none;
			}
		}
	}

	&__link {
		font-size: 12px;
		white-space: nowrap;
		color: var(--color-dark-600);
	}
}
