.breadcrumbs {
	@include container;

	padding-bottom: 12px;

	&__items {
		display: flex;
		align-items: center;
		overflow-x: auto;
		gap: 6px;
	}

	&__item {
		padding: 2px;

		&:not(:last-child) {
			position: relative;
			padding-right: 10px;
		}

		&:last-child {
			color: var(--color-grey-500);
		}
	}

	&__link {
		position: relative;
		border-radius: 2px;
		font-size: 12px;
		white-space: nowrap;
		color: var(--color-dark-600);
		transition: box-shadow 0.3s;

		&:focus-visible {
			@include focus-visible;
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					background-color: var(--color-dark-600);
				}
			}
		}

		&::before {
			@include circle(4px, var(--color-grey-300));

			content: '';
			position: absolute;
			right: -10px;
			top: 50%;
			transform: translateY(-50%);
			transition: background-color 0.3s;
		}
	}
}
