.breadcrumbs {
	padding-bottom: 12px;

	&__items {
		display: flex;
		align-items: center;
		overflow-x: auto;
		gap: 6px;
	}

	&__item {
		&:not(:last-child) {
			position: relative;
			padding-right: 10px;

			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				border-radius: 50%;
				width: 4px;
				height: 4px;
				background-color: var(--color-grey-300);
				transform: translateY(-50%);
			}
		}
	}

	&__link {
		font-size: 12px;
		white-space: nowrap;
		color: var(--color-dark-600);

		&--current {
			color: var(--color-grey-500);
			pointer-events: none;
		}
	}
}
