.questions {
	&__container {
		@include flex-alignment(40px, space-between, flex-start);
		@include container;

		width: 100%;

		@include mq(lg) {
			flex-direction: column-reverse;
			gap: 100px;
		}

		@include mq(sm) {
			gap: 50px;
		}
	}

	&__list {
		width: 100%;

		@include mq(lg, min) {
			width: 50%;
		}
	}

	.form {
		&__title {
			font-size: 18px;
		}

		@include mq(md) {
			gap: 30px;
		}

		@include mq(lg, min) {
			width: 35%;
		}
	}
}
