.side-menu {
	@include flex-simple(10vh, column);

	position: fixed;
	left: 0;
	top: 95px;
	bottom: 0;
	z-index: 3;
	overflow-y: auto;
	padding: 6.5vh 20px 6.5vh 50px;
	width: 100%;
	max-width: 255px;

	&__items {
		@include flex-simple(20px, column);

		&[data-color='light'] {
			.side-menu__link {
				color: var(--color-white);
			}
		}

		&--dots {
			padding-right: 16px;

			&[data-color='light'] {
				.side-menu__link {
					@media (any-hover: hover) {
						&:hover {
							&::before {
								background-color: var(--color-white);
							}
						}
					}
				}
			}

			&[data-color='dark'] {
				.side-menu__link {
					@media (any-hover: hover) {
						&:hover {
							color: var(--color-dark-600);

							&::before {
								background-color: var(--color-orange-400);
							}
						}
					}
				}
			}

			.side-menu__link {
				position: relative;
				color: var(--color-grey-600);
				transition: color 0.3s;

				&::before {
					content: '';
					position: absolute;
					right: -16px;
					top: 50%;
					border-radius: 50%;
					width: 6px;
					height: 6px;
					background-color: transparent;
					transform: translateY(-50%);
					transition: background-color 0.3s;
				}
			}
		}

		&--arrows {
			.side-menu__link {
				@include link-with-arrows;
			}

			&[data-color='light'] {
				.side-menu__link {
					border-bottom-color: var(--rgba-white-500);

					&::before {
						filter: invert(1);
					}

					@media (any-hover: hover) {
						&:hover {
							border-bottom-color: var(--color-white);
						}
					}
				}
			}
		}
	}

	&__link {
		@include title(16px);

		color: var(--color-grey-600);
		transition:
			color 0.3s,
			box-shadow 0.3s,
			border-radius 0.3s;

		&:focus-visible {
			@include focus-visible;

			border-radius: 4px;
		}
	}

	@include mq(xl) {
		display: none;
	}

	.navigation-connection {
		&__contacts {
			&[data-color='light'] {
				.navigation-connection__link {
					color: var(--color-white);
				}
			}
		}

		&__link {
			transition: color 0.3s;
		}

		&__text {
			transition:
				color 0.3s,
				opacity 0.3s;

			&[data-color='light'] {
				color: var(--color-white);
				opacity: 0.5;
			}
		}
	}

	.socials {
		&[data-color='light'] {
			.socials__link {
				color: var(--color-dark-600);
				background-color: var(--color-white);

				&:focus-visible {
					color: var(--color-white);
					background-color: var(--color-dark-600);
				}
			}
		}
	}
}
