.side-menu {
	display: flex;
	flex-direction: column;
	padding: 60px 20px 60px 50px;
	width: 100%;
	height: 100vh;
	max-width: 255px;
	background-color: var(--color-grey-100);
	gap: 100px;

	&__items {
		@include flex-simple(20px, column);

		&--dots {
			.side-menu__link {
				position: relative;
				transition: color 0.3s;

				&::before {
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					border-radius: 50%;
					width: 6px;
					height: 6px;
					background-color: transparent;
					transform: translateY(-50%);
					transition: background-color 0.3s;
				}

				&--active {
					padding-right: 16px;
					color: var(--color-dark-600);

					&::before {
						background-color: var(--color-orange-400);
					}
				}
			}
		}

		&--arrows {
			.side-menu__link {
				@include link-with-arrows;
			}
		}
	}

	&__link {
		@include title(16px);

		color: var(--color-grey-600);
	}

	@include mq(xl) {
		display: none;
	}
}
