.product-card {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	&__image {
		display: inline-block;
		margin-bottom: 10px;
		width: 100%;
	}

	picture {
		display: block;
		width: 100%;
		height: 100%;
	}

	&__img {
		@include img-base;
	}

	&__content {
		@include flex-alignment(0, space-between, flex-start);

		margin-bottom: 20px;

		@include mq(sm) {
			margin-bottom: 10px;
		}
	}

	&__name,
	&__info {
		flex-basis: 50%;
	}

	&__name {
		padding-right: 20px;
	}

	&__title,
	&__price {
		@include title(18px, -0.03em);

		@include mq(sm) {
			font-size: 16px;
		}
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: 6px;
		}
	}

	&__question,
	&__subtext {
		color: var(--color-grey-600);

		@include mq(sm) {
			font-size: 12px;
		}
	}

	&__question {
		@include flex-alignment(5px, flex-start, center);

		@media (any-hover: hover) {
			&:hover {
				svg {
					color: var(--color-dark-600);
				}
			}
		}

		svg {
			width: 20px;
			height: 20px;
			color: var(--color-grey-400);
			transition: color 0.3s;
		}
	}

	&__info {
		@include flex-alignment(5px, flex-start, flex-end, column);
	}

	&__subtext {
		text-align: right;
	}

	&__footer {
		@include flex-simple(10px);

		flex-wrap: wrap;
		margin-top: auto;
	}

	&__link,
	&__button {
		white-space: nowrap;

		@include mq(sm) {
			flex: 1 0 48%;
			font-size: 10px;
		}
	}
}
