.product-card {
	display: flex;
	flex-direction: column;
	padding: 2px;
	width: 100%;
	height: 100%;

	&__image {
		position: relative;
		display: inline-block;
		margin-bottom: 10px;
		padding-bottom: 68%;
		width: 100%;
		transition: box-shadow 0.3s;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			z-index: 2;
			background-color: var(--color-black);
			opacity: 0;
			transition: opacity 0.3s;
		}

		&:focus-visible {
			@include focus-visible;
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 0.2;
				}
			}
		}
	}

	picture {
		display: block;
		width: 100%;
		height: 100%;
	}

	&__img {
		@include img-base;

		position: absolute;
		inset: 0;
	}

	&__content {
		@include flex-alignment(0, space-between, flex-start);

		margin-bottom: 20px;

		@include mq(sm) {
			margin-bottom: 10px;
		}
	}

	&__name,
	&__info {
		flex-basis: 50%;
	}

	&__name {
		padding-right: 20px;
	}

	&__title,
	&__price {
		@include title(18px, -0.03em);

		@include mq(sm) {
			font-size: 16px;
		}
	}

	&__title,
	&__question {
		border-radius: 4px;
		transition:
			color 0.3s,
			box-shadow 0.3s;

		&:focus-visible {
			@include focus-visible;
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--color-orange-400);
			}
		}
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: 6px;
		}
	}

	&__question,
	&__subtext {
		color: var(--color-grey-600);

		@include mq(sm) {
			font-size: 12px;
		}
	}

	&__question {
		@include question-button(5px);

		@media (any-hover: hover) {
			&:hover {
				color: var(--color-dark-600);
			}
		}
	}

	&__info {
		@include flex-alignment(5px, flex-start, flex-end, column);
	}

	&__subtext {
		text-align: right;
	}

	&__footer {
		@include flex-simple(10px);

		flex-wrap: wrap;
		margin-top: auto;
	}

	&__link,
	&__button {
		white-space: nowrap;

		@include mq(sm) {
			flex: 1 0 48%;
			font-size: 10px;
		}
	}
}
