<nav class="menu-mobile fix-block">
    <ul class="menu-mobile__items">
        <li class="menu-mobile__item">
            <a class="menu-mobile__link menu-mobile__link--active" href="#">
                <span class="menu-mobile__icon" aria-hidden>
                    <svg>
                        <use xlink:href="img/sprite.svg#burger">
                    </svg>
                </span>
                Каталог
            </a>
        </li>
        <li class="menu-mobile__item">
            <a class="menu-mobile__link" href="#">
                <span class="menu-mobile__icon" aria-hidden>
                    <svg>
                        <use xlink:href="img/sprite.svg#percent">
                    </svg>
                </span>
                Акции
            </a>
        </li>
        <li class="menu-mobile__item">
            <a class="menu-mobile__link" href="#">
                <span class="menu-mobile__icon" aria-hidden>
                    <svg>
                        <use xlink:href="img/sprite.svg#pin">
                    </svg>
                </span>
                Адреса
            </a>
        </li>
        <li class="menu-mobile__item">
            <button class="menu-mobile__link menu-mobile__link--dark" data-graph-path="order-project" aria-controls="modal-order-project" type="button">
                <span class="menu-mobile__icon" aria-hidden>
                    <svg>
                        <use xlink:href="img/sprite.svg#arrows-double">
                    </svg>
                </span>
                Хочу проект
            </button>
        </li>
    </ul>
</nav>