<nav class="side-menu">
    <ul class="side-menu__items side-menu__items--arrows" data-color="dark">
        <li>
            <a class="side-menu__link" href="#">
                Каталог
            </a>
        </li>
        <li>
            <a class="side-menu__link" href="#">
                Cashback 25%
            </a>
        </li>
        <li>
            <a class="side-menu__link" href="#">
                Адреса салонов
            </a>
        </li>
        <li>
            <a class="side-menu__link" href="#">
                Заказать проект
            </a>
        </li>
    </ul>

    <ul class="side-menu__items side-menu__items--dots" data-color="dark">
        <li>
            <a class="side-menu__link" href="#">
                Портфолио
            </a>
        </li>
        <li>
            <a class="side-menu__link" href="#">
                История с 1998 года
            </a>
        </li>
        <li>
            <a class="side-menu__link" href="#">
                Гарантия 12 лет
            </a>
        </li>
        <li>
            <a class="side-menu__link" href="#">
                Производство
            </a>
        </li>
        <li>
            <a class="side-menu__link" href="#">
                Отзывы
            </a>
        </li>
        <li>
            <a class="side-menu__link" href="#">
                СМИ о нас
            </a>
        </li>
    </ul>

    <div class="navigation-connection">
        <ul class="socials" data-color="dark">
            <li class="socials__item">
                <a class="socials__link" href="#" target="_blank" aria-label="whatsapp">
                    <svg aria-hidden>
                        <use xlink:href="img/sprite.svg#whatsapp">
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a class="socials__link" href="#" target="_blank" aria-label="telegram">
                    <svg aria-hidden>
                        <use xlink:href="img/sprite.svg#telegram">
                    </svg>
                </a>
            </li>
        </ul>
        <ul class="navigation-connection__contacts" data-color="dark">
            <li class="navigation-connection__contact">
                <a class="navigation-connection__link" href="tel:+70070000880">
                    +7 (007)-000-08-80
                </a>
            </li>
            <li class="navigation-connection__contact">
                <a class="navigation-connection__link" href="mailto:info@zetta.ru">
                    info@zetta.ru
                </a>
            </li>
        </ul>
        <p class="navigation-connection__text" data-color="dark">
            Ежедневно с 11:00 до 21:00
        </p>
    </div>
</nav>