.header {
	height: 95px;
	font-weight: 500;

	@include mq(sm) {
		height: 72px;
	}

	&__navigation {
		position: relative;
		z-index: 5;
		display: flex;
		height: 100%;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 0.5px;
			background-color: var(--color-grey-200);
		}

		@include mq(lg) {
			padding: 0 20px;
		}
	}

	&__wrapper-logo {
		@include flex;

		height: 100%;

		@include mq(lg, min) {
			padding: 8px 12px;
			width: 100%;
			max-width: 255px;
		}
	}

	&__inner {
		@include flex(space-between);

		width: 100%;
		background-color: var(--color-white);
		gap: 24px;

		@include mq(lg, min) {
			padding: 8px 45px;
		}
	}

	&__item {
		@include flex(flex-start);

		gap: 10px;

		&--buttons {
			@include mq(xl) {
				display: none;
			}
		}

		&--contacts {
			gap: 20px;

			@include mq(xl) {
				margin: 0 auto;
			}
		}
	}

	&__consultation {
		@include mq(lg) {
			display: none;
		}
	}

	&__contact {
		@include link-border-bottom;

		@include mq(sm) {
			display: none;
		}
	}

	&--light {
		color: var(--color-dark-600);
		background-color: var(--color-white);

		.header__navigation {
			background-color: var(--color-white);
		}

		.header__wrapper-logo {
			background-color: var(--color-grey-100);

			@include mq(lg) {
				background-color: var(--color-white);
			}
		}

		.header__button {
			color: var(--color-dark-600);
			background-color: var(--color-grey-100);

			@media (any-hover: hover) {
				&:hover {
					background-color: var(--color-grey-300);
				}
			}

			&--link {
				svg {
					stroke: var(--color-dark-600);
				}
			}
		}

		.header__consultation {
			color: var(--color-white);
			background-color: var(--color-dark-600);
		}
	}

	&--dark {
		color: var(--color-white);

		.header__consultation {
			color: var(--color-dark-600);
			background-color: var(--color-white);
		}

		.burger-button {
			&__plate {
				background-color: var(--color-white);
			}
		}
	}
}
