.header {
	&--transparent {
		&::before {
			background-color: var(--rgba-white-200);
		}

		.header__navigation {
			background-color: transparent;

			&::before {
				background-color: var(--rgba-white-200);
			}
		}

		.header__inner {
			background-color: transparent;

			.header-consultation {
				&__button {
					color: var(--color-dark-600);
					background-color: var(--color-white);

					@media (any-hover: hover) {
						&:hover {
							color: var(--color-white);
							background-color: var(--color-orange-400);
						}
					}
				}

				&__contact {
					border-bottom-color: var(--rgba-white-500);
					color: var(--color-white);

					@media (any-hover: hover) {
						&:hover {
							border-bottom-color: var(--color-white);
						}
					}
				}
			}

			.burger-button {
				color: var(--color-white);

				@media (any-hover: hover) {
					&:hover {
						.burger-button__line {
							color: var(--color-white);
						}
					}
				}

				&:focus-visible {
					.burger-button {
						&__line {
							color: var(--color-white);
						}
					}
				}

				&__plate {
					background-color: var(--color-white);
				}

				&__line {
					color: var(--color-dark-600);
				}
			}
		}

		.header__wrapper-logo {
			background-color: transparent;

			@include mq(xl) {
				background-color: transparent;
			}
		}

		.logo {
			&__img {
				filter: invert(99%) sepia(1%) saturate(9%) hue-rotate(182deg)
					brightness(106%) contrast(100%);
			}
		}

		.header__button {
			border: 1px solid transparent;
			color: var(--color-white);
			background-color: var(--rgba-white-200);
			transition: border-color 0.3s;
			backdrop-filter: blur(20px);

			@media (any-hover: hover) {
				&:hover {
					border-color: var(--rgba-white-200);
					background-color: var(--rgba-white-200);
				}
			}
		}
	}
}
