.header {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 95px;
	font-weight: 500;
	color: var(--color-dark-600);

	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 1px;
		background-color: var(--color-grey-200);
		transition: background-color 0.3s;
	}

	&--fixed {
		position: fixed;
	}

	&--burger {
		z-index: 2;

		@include mq(lg) {
			z-index: 22;
		}
	}

	@include mq(sm) {
		height: 72px;
	}

	&__navigation {
		display: flex;
		height: 100%;
		background-color: var(--color-white);

		@include mq(lg) {
			position: relative;
			z-index: 5;
			padding: 0 20px;
		}
	}

	&__wrapper-logo {
		@include flex-alignment;

		height: 100%;
		background-color: var(--color-grey-100);
		transition: background-color 0.3s;

		@include mq(xl) {
			background-color: var(--color-white);
		}

		@include mq(lg, min) {
			padding: 8px 12px;
			width: 100%;
			max-width: 255px;
		}
	}

	&__inner {
		@include flex-alignment(24px, space-between);

		width: 100%;
		background-color: var(--color-white);
		transition: background-color 0.3s;

		@include mq(lg) {
			justify-content: flex-end;
		}

		@include mq(lg, min) {
			padding: 8px 45px;
		}

		.header-consultation {
			@include mq(xl) {
				margin: 0 auto;
			}
		}
	}

	&__item {
		@include flex-alignment(10px, flex-start);

		@include mq(xl) {
			display: none;
		}
	}

	&__button {
		color: var(--color-dark-600);
		background-color: var(--color-grey-100);
		transition:
			background-color 0.3s,
			color 0.3s,
			backdrop-filter 0.3s;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--color-grey-300);
			}
		}

		&:focus-visible {
			@include focus-visible;
		}

		&--link {
			svg {
				stroke: var(--color-dark-600);
			}
		}
	}
}
