.header-consultation {
	@include flex-alignment(20px, flex-start);

	&__contact {
		@include link-border-bottom;

		transition:
			color 0.3s,
			border-bottom-color 0.3s;

		@include mq(sm) {
			display: none;
		}
	}

	@include mq(lg) {
		display: none;
	}
}
