.button {
	@include flex;

	border-radius: 1000px;
	padding: 15px 20px;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: -0.03em;
	color: var(--color-white);
	transition:
		background-color 0.3s,
		color 0.3s;
	gap: 4px;

	&--dark {
		background-color: var(--color-dark-600);

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--color-orange-400);
			}
		}
	}

	&--accent {
		background-color: var(--color-orange-400);

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--color-orange-600);
			}
		}
	}

	&--with-point {
		position: relative;
		padding-left: 34px;

		&::before {
			content: '';
			position: absolute;
			left: 20px;
			top: 50%;
			border-radius: 50%;
			width: 6px;
			height: 6px;
			background-color: var(--color-orange-400);
			transform: translateY(-50%);
			transition: background-color 0.3s;
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--color-white);
				background-color: var(--color-orange-400);

				&::before {
					background-color: var(--color-white);
				}
			}
		}
	}

	&__icon {
		width: 14px;
		height: 14px;
	}
}
