.button {
	@include flex-alignment(6px);

	border-radius: 1000px;
	padding: 15px 20px;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: -0.03em;
	color: var(--color-white);
	transition:
		background-color 0.3s,
		color 0.3s;

	&--dark {
		background-color: var(--color-dark-600);

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--color-orange-400);
			}
		}
	}

	&--accent {
		background-color: var(--color-orange-400);

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--color-orange-600);
			}
		}
	}

	&__point {
		border-radius: 50%;
		width: 6px;
		height: 6px;
		background-color: var(--color-orange-400);
		transition: background-color 0.3s;
	}

	@media (any-hover: hover) {
		&:hover {
			.button__point {
				background-color: var(--color-white);
			}
		}
	}

	svg {
		width: 14px;
		height: 14px;
	}
}
