.swiper-slide {
	box-sizing: border-box;
}

.swiper-pagination {
	position: unset;
	left: unset;
	top: unset;
	bottom: unset;
	z-index: 1;
	text-align: left;
	transform: translateX(0);
}

.swiper-pagination-fraction {
	font-size: 12px;
}

.swiper-pagination-current {
	font-size: 18px;
	letter-spacing: 0;
	color: var(--color-dark-600);
}

.swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	background-color: var(--color-grey-300);
	opacity: 1;
	transition:
		background-color 0.3s,
		box-shadow 0.3s;

	&:focus-visible {
		@include focus-visible;
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--color-grey-500);
		}
	}
}

.swiper-pagination-bullet-active {
	background-color: var(--color-dark-600);
}

.swiper-button-prev,
.swiper-button-next {
	position: relative;
	left: unset;
	right: unset;
	top: unset;
	z-index: 1;
	margin-top: 0;
	border-radius: 1000px;
	padding: 8px;
	width: 56px;
	height: 36px;
	color: currentcolor;
	background-color: var(--color-white);
	transition:
		background-color 0.3s,
		box-shadow 0.3s;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--color-grey-300);
		}
	}

	&:focus-visible {
		@include focus-visible;
	}

	@include mq(sm) {
		width: 38px;
		height: 26px;
	}

	&::before {
		@include bg-properties(contain);

		content: '';
		position: absolute;
		right: 50%;
		top: 50%;
		width: 20px;
		height: 20px;
		background-image: url('../img/sprite.svg#arrow');
		transform: translate(50%, -50%);

		@include mq(sm) {
			width: 14px;
			height: 14px;
		}
	}

	&::after {
		display: none;
	}
}

.swiper-button-prev {
	transform: rotate(180deg);
}

.swiper-header {
	@include flex-alignment(40px, space-between, flex-end);

	margin-bottom: 36px;

	@include mq(sm) {
		margin-bottom: 20px;
	}

	&__title {
		margin-bottom: 0;
	}

	&__controls {
		@include flex-alignment(15px, flex-start, center);

		@include mq(lg) {
			display: none;
		}
	}

	&__buttons {
		@include flex-simple(8px);

		padding: 2px 0;
	}
}
