.reviews {
	@include container;

	padding-top: 180px;
	background-color: var(--color-grey-100);

	@include mq(sm) {
		padding-top: 120px;
	}

	.swiper-header {
		&__buttons {
			@include mq(lg) {
				display: none;
			}
		}
	}

	&__items {
		align-items: stretch;

		@include mq(lg) {
			margin-bottom: 30px;
		}

		@include mq(sm) {
			margin-bottom: 20px;
		}
	}

	&__item {
		height: auto;
		min-height: 268px;
	}
}
