@mixin link-border-bottom {
	display: inline-block;
	border-bottom: 1px solid var(--color-grey-200);
	padding-bottom: 5px;
	transition: border-bottom-color 0.3s;

	&:focus-visible {
		border-bottom-color: var(--color-orange-400);
	}

	@media (any-hover: hover) {
		&:hover {
			border-bottom-color: var(--color-dark-600);
		}
	}
}

@mixin title(
	$font-size: 22px,
	$letter-spacing: -0.04em,
	$color: var(--color-dark-600)
) {
	display: inline-block;
	font-weight: 500;
	font-size: $font-size;
	letter-spacing: $letter-spacing;
	color: $color;
}

@mixin link-cover {
	content: '';
	position: absolute;
	inset: 0;
}

@mixin img-base($object-fit: cover) {
	width: 100%;
	height: 100%;
	object-fit: $object-fit;
}

@mixin link-with-arrows {
	@include link-border-bottom;

	position: relative;
	padding-right: 22px;
	color: var(--color-dark-600);

	&::before {
		@include bg-properties(contain);

		content: '';
		position: absolute;
		right: 0;
		top: calc(50% - 2px);
		width: 14px;
		height: 14px;
		background-image: url('../img/sprite.svg#arrows-double');
		transform: translateY(-50%);
	}
}

@mixin container {
	padding-right: 45px;
	padding-left: 45px;
	width: 100%;

	@include mq(lg) {
		padding-right: 20px;
		padding-left: 20px;
	}
}

@mixin circle($sizes: 6px, $bg-color: var(--color-orange-400)) {
	border-radius: 50%;
	width: $sizes;
	height: $sizes;
	background-color: $bg-color;
}

@mixin question-button($gap: 8px, $svg-size: 20px) {
	@include flex-simple($gap);

	@media (any-hover: hover) {
		&:hover {
			svg {
				color: var(--color-dark-600);
			}
		}
	}

	svg {
		width: $svg-size;
		height: $svg-size;
		color: var(--color-grey-400);
		transition: color 0.3s;
	}
}

@mixin focus-visible($box-shadow-color: var(--rgba-orange-800)) {
	outline: 0;
	box-shadow: 0 0 0 2px $box-shadow-color;
}

@mixin swiper-buttons {
	@include flex-simple(8px);

	position: absolute;
	right: 0;
	top: 10px;
	display: flex;
	padding: 2px 0;
	gap: 8px;

	@include mq(md) {
		display: none;
	}
}

@mixin blackout {
	content: '';
	position: absolute;
	background-color: var(--color-black);
	opacity: 0;
	transition: opacity 0.3s;
}
