@mixin link-border-bottom {
	display: inline-block;
	border-bottom: 1px solid var(--color-grey-200);
	padding-bottom: 5px;
	transition: border-bottom-color 0.3s;

	&:focus {
		border-bottom-color: var(--color-orange-400);
	}

	@media (any-hover: hover) {
		&:hover {
			border-bottom-color: var(--color-dark-600);
		}
	}
}

@mixin title($font-size: 22px, $letter-spacing: -0.04em) {
	display: inline-block;
	font-weight: 500;
	font-size: $font-size;
	letter-spacing: $letter-spacing;
	color: var(--color-dark-600);
}

@mixin link-cover {
	content: '';
	position: absolute;
	inset: 0;
}

@mixin img-base($object-fit: cover) {
	width: 100%;
	height: 100%;
	object-fit: $object-fit;
}

@mixin link-with-arrows {
	@include link-border-bottom;

	position: relative;
	padding-right: 22px;
	color: var(--color-dark-600);

	&::before {
		@include bg-properties(contain);

		content: '';
		position: absolute;
		right: 0;
		top: calc(50% - 2px);
		width: 14px;
		height: 14px;
		background-image: url('../img/sprite.svg#arrows-double');
		transform: translateY(-50%);
	}
}

@mixin container {
	padding-right: 45px;
	padding-left: 45px;
	width: 100%;

	@include mq(lg) {
		padding-right: 20px;
		padding-left: 20px;
	}
}
