.convenience {
	@include container;

	&__wrapper {
		@include flex-alignment(40px, space-between, flex-start);

		@include mq(sm) {
			flex-direction: column;
		}
	}

	&__content {
		@include mq(sm, min) {
			flex-basis: 59%;
		}

		@include mq(lg, min) {
			flex-basis: 35%;
		}
	}

	&__subtitle {
		margin-bottom: 10px;

		@include mq(sm) {
			margin-bottom: 5px;
		}
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: 25px;

			@include mq(sm) {
				margin-bottom: 20px;
			}
		}

		p {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}

		@include mq(sm) {
			font-size: 12px;
		}
	}

	&__advantages {
		list-style-type: disc;
		padding-left: 20px;

		@include mq(md, min) {
			border-top: 1px solid var(--color-grey-200);
			padding-top: 20px;
		}

		@include mq(lg, min) {
			padding-top: 25px;
		}

		li {
			font-weight: 500;
			font-size: 18px;
			letter-spacing: -0.03em;
			color: var(--color-dark-600);

			&::marker {
				color: var(--color-orange-400);
			}

			@include mq(sm) {
				font-size: 14px;
			}

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}

	&__image {
		position: relative;
		border-radius: 100%;
		aspect-ratio: 1 / 1;

		@include mq(sm, min) {
			flex-basis: 30%;
		}

		@include mq(lg, min) {
			flex-basis: 40%;
			margin-top: -70px;
			padding: 24px;
		}

		@include mq(sm) {
			flex-basis: 90%;
		}
	}

	&__img {
		@include img-base;

		border-radius: 100%;
	}
}
